---
title: Impressum
subTitle: Utillities and Vehicles
---
<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		<h1>Impressum</h1>

<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
<p>Martin Pflieger<br />
Gesch&auml;ftsf&uuml;hrer<br />
Friedrich-Engels-Stra&szlig;e<br />
17<br />
07545 Gera</p>

<h2>Kontakt</h2>
<p>Telefon: 01715039302<br />
Telefax: 036520417793<br />
E-Mail: m.pflieger@studio-spielraum.de</p>

<h2>Umsatzsteuer-ID</h2>
<p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
60598743165</p>

<h2>Gewerbeanmeldung</h2>
<p>Die Gewerbeanmeldung nach &sect; 14 oder &sect; 55 c GewO wurde am 28.05.2019 durch Gemeindekennzahl Betriebsst&auml;tte 16052000, Stadt Gera erteilt.</p>

<h2>Berufsbezeichnung und berufsrechtliche Regelungen</h2>
<p>Berufsbezeichnung: anderer Beruf<br />
Zust&auml;ndige Kammer: <br />
Verliehen in: <br />
Es gelten folgende berufsrechtliche Regelungen: <br />
 Regelungen einsehbar unter: <a href="http://" target="_blank" rel="noopener noreferrer">http://</a></p>

<h2>Verantwortlich f&uuml;r den Inhalt nach &sect; 55 Abs. 2 RStV</h2>
<p>Martin Pflieger, Heinrichstra&szlig;e 70, 07545 Gera</p>

<h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
<p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
		






		
		
	




	</body>
	{% include footer.html %}
</html>
