---
title: Studio-Spielraum
subTitle: Startseite und Übersicht über die Kategorien
---
<!DOCTYPE html>
<html>	
	{% include head.html %}
	<body>
		
			<div class="header">
				<div class="grid-container-header">
					<img class="img" src="img/logo3.svg" alt="Logo">							
						
				</div>
			</div>
			<div class="lead">
				<div class="grid-container-lead">
					<h1>Hier im <b>Studio Spielraum</b> entstehen neue Spiele für deinen Tisch.</h1> 
					
					<img class="img" src="img/leadline.svg" alt="line">
					<h2>Als Spieleentwickler arbeite ich sowohl in der Findung neuer, eigener Spielideen, sowie in der redaktionellen Bearbeitung der Ideen anderer Spieleautoren, die bei einem Spieleverlag veröffentlicht werden. </h2>							
					<img class="img" src="img/leadline.svg" alt="line">	
				</div>
			</div>		

		
			<div class="about">
				<div class="grid-container">
					
					<div class="spielkarte karte1">				
						
						<h1>Spieleautor</h1>
						<br>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit at suscipit, deleniti modi adipisci optio dolor distinctio sit quia labore dignissimos quidem, iusto totam, fugiat neque voluptatem dolorum autem illo.</p>
						
					</div>		

					<div class="spielkarte karte2">						
						<h1>Spieleredakteur</h1>
						<br>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus aliquid molestiae minus maiores reiciendis in modi totam expedita vel repudiandae ipsum ad quaerat enim, provident odit, facilis eveniet dolorem! Illo.</p>
					</div>	
				
					<div class="spielkarte karte3">						
						<h1>Über mich</h1>
						<br>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id error iste voluptates mollitia deleniti quod porro et quidem voluptatibus maiores animi pariatur sed, ut reiciendis nisi, maxime quisquam nulla nemo.</p>
					</div>
				</div>			
			</div>	
	</body>	
	{% include footer.html %}
</html>
