

					<div class="container">
						<div align="center">
							<div class="col-lg-6 card animated justify-content-center col-lg-offset-3" fade>
									<h3>Für Fragen stehen wir ihnen gern zur Verfügung.</h3>
									<p>Schreiben Sie uns eine E-Mail.</p>
									<hr>
									 <a href="mailto:m.pflieger@studio-spielraum.de" class="btn btn-info" role="button">E-Mail</a>
									 <p>info@studio-spielraum.de</p>
								</a>
							</div>
						</div>
						</div>
				</div
		</div>
		<!-- /.container -->
	</div>
</section>
<!-- /.banner -->
