<!-- Footer -->
<footer>
    <div class="grid-container">
        <div class="foot text-center">
            <ul class="list-inline">               
                    <a href="index.html">Home</a>                                     
                    <a href="impressum.html">Impressum</a>               
                    <a href="Datenschutz.html">Datenschutz</a>               
            </ul>
            <p class="small">{{ site.copyright }}</p>
        </div>
    </div>    
          
</footer>
